
{% extends 'base.html' %}
{% load static %}

{% block about_status %}active{% endblock about_status %}
 {% block class %} class="sub_page" {% endblock class %}
 
  {% block body %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png ' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Feane
              </h2>
            </div>
            {% for desc in about_desc %}
            <p>
                {{ desc.description }}
            </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock body %}


