


{% extends 'base.html' %}
{% load static %}

{% block menu_status %}active{% endblock menu_status %}
{% block class %} class="sub_page" {% endblock class %}
  {% block body %}

  <div class="container mt-5">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Register</h1>
        <hr/>

        <form method="POST" action="">
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Warning:</strong> There are errors in your form.
                    {% for field in form %}
                        {% if field.errors %}
                            <div>{{ field.errors }}</div>
                        {% endif %}
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            {{ form.as_p }}

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
        </form>
    </div>
</div>

{% endblock body %}
